---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16GbqSCgpBrdIpYjyB2SJy38&description=Sign%20up%20charge%20for%20laurel_shields%40kuhn.name
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16GbqTCgpBrdIpYjoASDLOy6"
          }
        }
  recorded_at: Mon, 22 Jun 2015 20:48:47 GMT
recorded_with: VCR 2.9.3
