---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16GbqLCgpBrdIpYjU84JSC5S&description=Sign%20up%20charge%20for%20jeika%40friesen.com
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_16GbqLCgpBrdIpYjvZvTZ46i",
          "object": "charge",
          "created": 1435006117,
          "livemode": false,
          "paid": true,
          "status": "succeeded",
          "amount": 999,
          "currency": "usd",
          "refunded": false,
          "source": {
            "id": "card_16GbqLCgpBrdIpYjFhp76owE",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 7,
            "exp_year": 2016,
            "fingerprint": "WK9Xk0j3v4YY5hjj",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "pass",
            "address_line1_check": null,
            "address_zip_check": null,
            "dynamic_last4": null,
            "metadata": {},
            "customer": null
          },
          "captured": true,
          "balance_transaction": "txn_16GbqLCgpBrdIpYjkZcw9p9b",
          "failure_message": null,
          "failure_code": null,
          "amount_refunded": 0,
          "customer": null,
          "invoice": null,
          "description": "Sign up charge for jeika@friesen.com",
          "dispute": null,
          "metadata": {},
          "statement_descriptor": null,
          "fraud_details": {},
          "receipt_email": null,
          "receipt_number": null,
          "shipping": null,
          "destination": null,
          "application_fee": null,
          "refunds": {
            "object": "list",
            "total_count": 0,
            "has_more": false,
            "url": "/v1/charges/ch_16GbqLCgpBrdIpYjvZvTZ46i/refunds",
            "data": []
          }
        }
  recorded_at: Mon, 22 Jun 2015 20:48:40 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16IkkkCgpBrdIpYj2x3PZBiq&plan=golden&email=betty%40jenkins.biz
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1435517022,
          "id": "cus_6VmJX6Lg03zRv4",
          "livemode": false,
          "description": null,
          "email": "betty@jenkins.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6VmJX6Lg03zRv4/subscriptions",
            "data": [
              {
                "id": "sub_6VmJ530oufozPF",
                "plan": {
                  "interval": "month",
                  "name": "The Best Streaming Videos",
                  "created": 1435509978,
                  "amount": 999,
                  "currency": "usd",
                  "id": "golden",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Video nirvana"
                },
                "object": "subscription",
                "start": 1435517022,
                "status": "active",
                "customer": "cus_6VmJX6Lg03zRv4",
                "cancel_at_period_end": false,
                "current_period_start": 1435517022,
                "current_period_end": 1438109022,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6VmJX6Lg03zRv4/sources",
            "data": [
              {
                "id": "card_16IkkkCgpBrdIpYjUh6SR4V9",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 7,
                "exp_year": 2016,
                "fingerprint": "WK9Xk0j3v4YY5hjj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6VmJX6Lg03zRv4"
              }
            ]
          },
          "default_source": "card_16IkkkCgpBrdIpYjUh6SR4V9"
        }
  recorded_at: Sun, 28 Jun 2015 18:43:57 GMT
recorded_with: VCR 2.9.3
