---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16GbqQCgpBrdIpYjcZ0IEHX2&description=Sign%20up%20charge%20for%20cheyanne.mclaughlin%40wunsch.info
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card",
            "charge": "ch_16GbqRCgpBrdIpYjOWKTNNEh"
          }
        }
  recorded_at: Mon, 22 Jun 2015 20:48:45 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16IkkoCgpBrdIpYjEh66wA7t&plan=golden&email=tristian%40cormier.info
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card has expired.",
            "type": "card_error",
            "param": "exp_month",
            "code": "expired_card"
          }
        }
  recorded_at: Sun, 28 Jun 2015 18:44:01 GMT
recorded_with: VCR 2.9.3
