---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4000000000000002&card[exp_month]=6&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16IkkyCgpBrdIpYjjPdKirO4",
          "livemode": false,
          "created": 1435517036,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16IkkxCgpBrdIpYj9nj32btF",
            "object": "card",
            "last4": "0002",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "P1DF9kB5k6WuAwfW",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "75.110.111.115"
        }
  recorded_at: Sun, 28 Jun 2015 18:44:10 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=tok_16IkkyCgpBrdIpYjjPdKirO4&description=an%20invalid%20charge
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 402
      message: Payment Required
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "message": "Your card was declined.",
            "type": "card_error",
            "code": "card_declined",
            "charge": "ch_16IkkyCgpBrdIpYjqjlgU4mV"
          }
        }
  recorded_at: Sun, 28 Jun 2015 18:44:10 GMT
recorded_with: VCR 2.9.3
