---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=stripe_token&plan=golden&email=zane%40sawaynbotsford.com
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "There is no token with ID stripe_token.",
            "param": "source"
          }
        }
  recorded_at: Mon, 29 Jun 2015 06:10:32 GMT
recorded_with: VCR 2.9.3
