---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: US-ASCII
      string: card[number]=4242424242424242&card[exp_month]=6&card[exp_year]=2015&card[cvc]=123
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_16IvgsCgpBrdIpYjjOJzmUhF",
          "livemode": false,
          "created": 1435559066,
          "used": false,
          "object": "token",
          "type": "card",
          "card": {
            "id": "card_16IvgsCgpBrdIpYjT65ulzGh",
            "object": "card",
            "last4": "4242",
            "brand": "Visa",
            "funding": "credit",
            "exp_month": 6,
            "exp_year": 2015,
            "fingerprint": "WK9Xk0j3v4YY5hjj",
            "country": "US",
            "name": null,
            "address_line1": null,
            "address_line2": null,
            "address_city": null,
            "address_state": null,
            "address_zip": null,
            "address_country": null,
            "cvc_check": "unchecked",
            "address_line1_check": null,
            "address_zip_check": null,
            "tokenization_method": null,
            "dynamic_last4": null,
            "metadata": {}
          },
          "client_ip": "75.110.111.115"
        }
  recorded_at: Mon, 29 Jun 2015 06:24:26 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: source=tok_16IvgsCgpBrdIpYjjOJzmUhF&plan=golden&email=rosemarie%40quigley.biz
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "customer",
          "created": 1435559066,
          "id": "cus_6Vxc4VCweZzJsm",
          "livemode": false,
          "description": null,
          "email": "rosemarie@quigley.biz",
          "delinquent": false,
          "metadata": {},
          "subscriptions": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Vxc4VCweZzJsm/subscriptions",
            "data": [
              {
                "id": "sub_6VxcD3cXaf18RC",
                "plan": {
                  "interval": "month",
                  "name": "The Best Streaming Videos",
                  "created": 1435509978,
                  "amount": 999,
                  "currency": "usd",
                  "id": "golden",
                  "object": "plan",
                  "livemode": false,
                  "interval_count": 1,
                  "trial_period_days": null,
                  "metadata": {},
                  "statement_descriptor": "Video nirvana"
                },
                "object": "subscription",
                "start": 1435559066,
                "status": "active",
                "customer": "cus_6Vxc4VCweZzJsm",
                "cancel_at_period_end": false,
                "current_period_start": 1435559066,
                "current_period_end": 1438151066,
                "ended_at": null,
                "trial_start": null,
                "trial_end": null,
                "canceled_at": null,
                "quantity": 1,
                "application_fee_percent": null,
                "discount": null,
                "tax_percent": null,
                "metadata": {}
              }
            ]
          },
          "discount": null,
          "account_balance": 0,
          "currency": "usd",
          "sources": {
            "object": "list",
            "total_count": 1,
            "has_more": false,
            "url": "/v1/customers/cus_6Vxc4VCweZzJsm/sources",
            "data": [
              {
                "id": "card_16IvgsCgpBrdIpYjT65ulzGh",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "WK9Xk0j3v4YY5hjj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Vxc4VCweZzJsm"
              }
            ]
          },
          "default_source": "card_16IvgsCgpBrdIpYjT65ulzGh"
        }
  recorded_at: Mon, 29 Jun 2015 06:24:27 GMT
recorded_with: VCR 2.9.3
