---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/events/evt_16Iu9OCgpBrdIpYj9NQqAegb
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "evt_16Iu9OCgpBrdIpYj9NQqAegb",
          "created": 1435553146,
          "livemode": false,
          "type": "charge.succeeded",
          "data": {
            "object": {
              "id": "ch_16Iu9OCgpBrdIpYjArgIbvSD",
              "object": "charge",
              "created": 1435553146,
              "livemode": false,
              "paid": true,
              "status": "succeeded",
              "amount": 999,
              "currency": "usd",
              "refunded": false,
              "source": {
                "id": "card_16Iu9NCgpBrdIpYj725ywf4i",
                "object": "card",
                "last4": "4242",
                "brand": "Visa",
                "funding": "credit",
                "exp_month": 6,
                "exp_year": 2015,
                "fingerprint": "WK9Xk0j3v4YY5hjj",
                "country": "US",
                "name": null,
                "address_line1": null,
                "address_line2": null,
                "address_city": null,
                "address_state": null,
                "address_zip": null,
                "address_country": null,
                "cvc_check": "pass",
                "address_line1_check": null,
                "address_zip_check": null,
                "tokenization_method": null,
                "dynamic_last4": null,
                "metadata": {},
                "customer": "cus_6Vw1bCqE3Uqptz"
              },
              "captured": true,
              "balance_transaction": "txn_16Iu9OCgpBrdIpYjETlbDUnc",
              "failure_message": null,
              "failure_code": null,
              "amount_refunded": 0,
              "customer": "cus_6Vw1bCqE3Uqptz",
              "invoice": "in_16Iu9OCgpBrdIpYjQqhnOe0w",
              "description": null,
              "dispute": null,
              "metadata": {},
              "statement_descriptor": "Video nirvana",
              "fraud_details": {},
              "receipt_email": null,
              "receipt_number": null,
              "shipping": null,
              "destination": null,
              "application_fee": null,
              "refunds": {
                "object": "list",
                "total_count": 0,
                "has_more": false,
                "url": "/v1/charges/ch_16Iu9OCgpBrdIpYjArgIbvSD/refunds",
                "data": []
              }
            }
          },
          "object": "event",
          "pending_webhooks": 0,
          "request": "iar_6Vw1Li08FlPYGF",
          "api_version": "2015-04-07"
        }
  recorded_at: Mon, 29 Jun 2015 16:33:33 GMT
recorded_with: VCR 2.9.3
