---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: US-ASCII
      string: amount=999&currency=usd&source=stripe_token&description=Sign%20up%20charge%20for%20elody%40cain.info
    headers:
      Authorization:
      - Bearer sk_test_ac7hK0eIfCOZM0kOmQPJmvyr
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2015-04-07'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "type": "invalid_request_error",
            "message": "There is no token with ID stripe_token.",
            "param": "source"
          }
        }
  recorded_at: Sun, 28 Jun 2015 18:23:34 GMT
recorded_with: VCR 2.9.3
